body {
  margin: 0;
}

#user-info {
  padding: 0.25em;
  border-bottom: 1px solid grey;
  background-color: lightgrey;
}

#chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#scrollback {
  margin: 0.5em;
  flex-grow: 1;
  overflow: auto;
}