body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#toolbar {
  display: flex;
  align-items: center;
  background-color: #aaaaaa;
  border-bottom: 1px solid grey;
}

#toolbar > select,
#toolbar > input {
  margin: 0.1rem;
  height: 1.5rem;
}

#user-info {
  padding: 0.25rem;
  cursor: pointer;
  width: 25vw;
  border-left: 1px solid grey;
}

.spacer {
  flex: 1;
}

#content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#drawing {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

#canvas {
  display: inline-block;
  border: 1px solid grey;
  box-shadow: 0 0 2em grey;
  margin: 1em;
}

.working-canvas {
  position: absolute;
  pointer-events: none;
  display: none;
}

.working-canvas.active {
  display: block;
}

#primary-canvas {
  display: block;
}

#chat {
  display: flex;
  flex-direction: column;
  width: calc(25vw + 0.5rem);
  border-left: 1px solid grey;
  transition: margin-right 0.2s, visibility 0.2s;
}

#chat.hidden {
  margin-right: calc(-25vw - 0.5rem - 1px);
  visibility: hidden;
}

#user-list {
  height: 25vh;
  overflow: auto;
  border-bottom: 1px solid grey;
}

#scrollback {
  flex-grow: 1;
  overflow: auto;
}

.user-line, .chat-line {
  padding: 0.25em;
}

.user-line:not(:last-child), .chat-line:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.chat-author {
  font-weight: 800;
}
