body {
  margin: 0;
  display: flex;
  flex-direction: row;
}

#drawing {
  flex-grow: 1;
}

#canvas {
  display: block;
  border: 1px solid grey;
  margin: 1em;
}

#make-circle {
  margin: 1em;
}

#chat {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100vh;
  border-left: 1px solid grey;
}

#user-info {
  padding: 0.25em;
  border-bottom: 1px solid grey;
  background-color: lightgrey;
}

#scrollback {
  flex-grow: 1;
  overflow: auto;
}

.chat-line {
  padding: 0.25em;
}

.chat-line:not(:last-child) {
  border-bottom: 1px solid grey;
}

.chat-author {
  font-weight: 800;
}

.chat-server-log {
  color: grey;
}
